body .ma{ margin: auto;}
body .pan{padding:0}
body .pas{padding:5px}
body .pam{padding:10px}
body .pal{padding:20px}
body .ptn{padding-top:0}
body .pts{padding-top:5px}
body .ptm{padding-top:10px}
body .ptl{padding-top:20px}
body .prn{padding-right:0}
body .prs{padding-right:5px}
body .prm{padding-right:10px}
body .prl{padding-right:20px}
body .pbn{padding-bottom:0}
body .pbs{padding-bottom:5px}
body .pbm{padding-bottom:10px}
body .pbl{padding-bottom:20px}
body .pln{padding-left:0}
body .pls{padding-left:5px}
body .plm{padding-left:10px}
body .pll{padding-left:20px}
body .phn{padding-left:0;padding-right:0}
body .phs{padding-left:5px;padding-right:5px}
body .phm{padding-left:10px;padding-right:10px}
body .phl{padding-left:20px;padding-right:20px}
body .pvn{padding-top:0;padding-bottom:0}
body .pvs{padding-top:5px;padding-bottom:5px}
body .pvm{padding-top:10px;padding-bottom:10px}
body .pvl{padding-top:20px;padding-bottom:20px}
body .man{margin:0}
body .mas{margin:5px}
body .mam{margin:10px}
body .mal{margin:20px}
body .mtn{margin-top:0}
body .mts{margin-top:5px}
body .mtm{margin-top:10px}
body .mtl{margin-top:20px}
body .mrn{margin-right:0}
body .mrs{margin-right:5px}
body .mrm{margin-right:10px}
body .mrl{margin-right:20px}
body .mbn{margin-bottom:0}
body .mbs{margin-bottom:5px}
body .mbm{margin-bottom:10px}
body .mbl{margin-bottom:20px}
body .mln{margin-left:0}
body .mls{margin-left:5px}
body .mlm{margin-left:10px}
body .mll{margin-left:20px}
body .mhn{margin-left:0;margin-right:0}
body .mhs{margin-left:5px;margin-right:5px}
body .mhm{margin-left:10px;margin-right:10px}
body .mhl{margin-left:20px;margin-right:20px}
body .mvn{margin-top:0;margin-bottom:0}
body .mvs{margin-top:5px;margin-bottom:5px}
body .mvm{margin-top:10px;margin-bottom:10px}
body .mvl{margin-top:20px;margin-bottom:20px}
body .tac{text-align:center}
body .tal{text-align:left}
body .tar{text-align:right}
body .vam{vertical-align:middle}
body .vat{vertical-align:top}
body .vab{vertical-align:bottom}